@model IEnumerable<ConsignmentShopLibrary.Models.VendorModel>

@{
    ViewData["Title"] = "Vendors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-6">Vendors</h1>
<h2 class="h6">@ViewData["Store"]</h2>

<p>
    <a class="btn btn-primary" asp-action="Create" asp-route-storeId="@ViewBag.Id">New Vendor</a>
    <a class="btn btn-info" asp-controller="Stores" asp-action="Details" asp-route-Id="@ViewBag.Id">Store</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommissionRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Display)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommissionRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Display)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @using (Html.BeginForm("PayVendor", "Vendors", FormMethod.Post, new { id = "payVendor", @style = "display: inline;" }))
                {
                    @Html.Hidden("id", item.Id);
                    @Html.AntiForgeryToken();
                    <a href="javascript:document.getElementById('payVendor').submit()">Pay Vendor</a> 
                }
                | @Html.ActionLink("Edit", "Edit", new { id = item.Id, storeId = item.StoreId }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
